.year_lbl {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 15px;
}

.arrow_ {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 30px;
}

.arrow_:hover {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 35px;
}

.arrow_:pressed {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 25px;
}

.current {
    -fx-text-fill: #6a7783;
    -fx-font-size: 24px;
}