.year_lbl {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 15px;
}

.arrow_ {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 30px;
}
.dates:hover{
    -fx-cursor:hand;
    -fx-font-size: 25px;
    -fx-padding: 7px;
    -fx-background-color: rgba(62,190,238,0.2);
    -fx-background-radius: 100px;;
}
.dates:pressed{
    -fx-font-size: 18px;
    -fx-padding: 7px;
    -fx-background-color: rgba(62,190,238,0.2);
    -fx-background-radius: 100px;
}
.year_lbl:hover{
    -fx-cursor:hand;
    -fx-font-size: 25px;
}
.year_lbl:pressed{
    -fx-font-size: 18px;
}
.arrow_:hover{
    -fx-cursor:hand;
    -fx-text-fill: #3e94ec;
    -fx-font-size: 35px;
}

.arrow_:pressed {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 25px;
}

.current {
    -fx-text-fill: #6a7783;
    -fx-font-size: 24px;
}