/*Calendar start*/
.year_lbl {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 15px;
}

.arrow_ {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 30px;
}
.dates:hover, singleDate:hover{
    -fx-cursor:hand;
    -fx-font-size: 25px;
    -fx-padding: 7px;
    -fx-background-color: rgba(62,190,238,0.2);
    -fx-background-radius: 100px;
}
.dates:pressed, singleDate:pressed{
    -fx-font-size: 18px;
    -fx-padding: 7px;
    -fx-background-color: rgba(62,190,238,0.2);
    -fx-background-radius: 100px;
}
.singleDate:hover{
    -fx-padding: 6px;
}
.year_lbl:hover{
    -fx-cursor:hand;
    -fx-font-size: 25px;
}
.year_lbl:pressed{
    -fx-font-size: 18px;
}
.arrow_:hover{
    -fx-cursor:hand;
    -fx-text-fill: #3e94ec;
    -fx-font-size: 35px;
}

.arrow_:pressed {
    -fx-text-fill: #3e94ec;
    -fx-font-size: 25px;
}

.current {
    -fx-text-fill: #6a7783;
    -fx-font-size: 24px;
}

/*
Calendar END
////////////////
///////////////
*/

/*UpcomingEvents START*/

.upcomingEvents{
    -fx-background-color: #D9DDDE;
}

.appointments {
    -fx-text-fill: #3e94ec;
}

.meetings {
    -fx-text-fill: #8a98a7;
}
.meetings:hover{
    -fx-cursor: hand;
    -fx-text-fill: #6B7682;
}

.menuButton{
    -fx-background-color:
    #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 8 20 8 20;
}
.menuButton:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}
.menuButton:pressed{
    -fx-padding: 7 18 7 18;
    -fx-opacity: 0.5;
}
.testbtn{
    -fx-background-radius: 0;
    -fx-background-color: #8a98a7;
}
.testbtn:hover{
    -fx-cursor: hand;
}
#btnClose{
    -fx-background-radius: 30;
    -fx-background-color: ee6666;
}
#btnClose:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}
#btnClose:pressed{
    -fx-opacity: 0.5;
    -fx-padding: -10px;
}
#inpDate:hover{
    -fx-cursor: hand;
}
#btnRoom:hover{
    -fx-cursor: hand;
}
#btnNewAppointment{
    -fx-background-color: rgba(125,238,102,0.7);
    -fx-text-fill: black;
}
#btnEditAppointment{
    -fx-background-color: rgba(238,213,102,0.7);
    -fx-text-fill: black;
}
#btnSave{
    -fx-background-color: rgba(125,238,102,0.7);
    -fx-text-fill: black;
}

/*
UpcomingEvents END
/////////////////
////////////////
*/
